<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <style>
        * {
            background-color: black;
        }
        ul {
            background: rgb(0, 0, 0);
            padding: 20px;
        }
        ul li {
            color: whitesmoke;
            margin: 10px auto;
            padding: 15px;
            font-size: 25px;
        }
        a {
            color: whitesmoke;
        }
    </style>
</head>
<body>
       <ul>
          {% for to in todo %}
              <li>
                  {{ to['id'] }}
              <br>
                  {{ to['title'] }}
              <br>
                  {{ to['description'] }}
              <br>
                  {{ to['date'] }}
              <br>
                  {{ to['done'] }}
              <br>
              <a href="/delete/{{to['id']}}">delete</a>
              <a href="/done/{{to['id']}}">done</a>
              <br>
              <br><br>
              </li>
          {% endfor %}
       </ul>  
</body>
</html>